
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
            </div>
            <div class="sidebar-content">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">Navigation</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#header">Accueil<i class="fa fa-home"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">A propos de moi<i class="fa fa-address-card"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#education">Parcours Académique<i class="fa fa-star"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#experience">Expérience<i class="fa fa-tasks"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#galerie">Gelerie<i class="fa fa-file-archive"></i></a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact<i class="fa fa-envelope"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="sidebar-footer">
                <a href="https://www.facebook.com/azer.mejri/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/azer-mejri-0494a7118/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="content">
            <!-- Header Start -->
            <div class="header" id="header">
                <div class="content-inner">
                    <p>Je suis</p>
                    <h1 style="background-color: white; opacity: 0.7; width : 50%; border-radius:15%; text-align:center;">Azer Mejri</h1>
                    <h2></h2>
                    <div style="background-color: white; opacity: 0.7; width : 50%; text-align:center;">Full Stuck Web Devlopper, </div>
                        <div style="background-color: white; opacity: 0.5; width : 50%; text-align:center;">Ingénieur Mécatronique, </div>
                </div>
            </div>
            <!-- Header End -->

            <!-- Large Button Start -->
            <div class="large-btn">
                <div class="content-inner">
                    <!--<a class="btn" href="#"><i class="fa fa-download"></i>Mon CV</a>-->
                    <!--<a class="btn" href="#"><i class="fa fa-hands-helping"></i>Recruter moi</a>-->
                </div>
            </div>
            <!-- Large Button End -->

            <!-- About Start -->
            <div class="about" id="about">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>A propos de moi</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6 col-lg-5">
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <p>
                                J'ai une expérience de 6 ans, dont 4 ans dans le secteur
                                industriel et 2 ans dans le domaine de la coopération
                                internationale et les projets de développement.
                                <br><br>
                                Spécialiste dans l'amélioration des services, je suis très
                                polyvalent, avec d'excellentes aptitudes de coordination et de
                                planification axée sur le résultat.
                                <br><br>
                                Actuellement, je suis en train de me reconvertir vers le domaine du développement WEB en
                                réalisant une formation Bootcamp Fulstack.
                            </p>
                            <a class="btn" href="#">Recruter moi</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div style="margin-top: 18px;">
                                    <p style="margin-bottom: 3px;">Développement Web</p>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">HTML</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">CSS</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">JS</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">BOOTSTRAP</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">NODE.JS</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">ANGULAR</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">JSON</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">MONGOBD</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">MONGOOSE</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="skills">
                                <div>
                                    <p style="margin-bottom: 3px;">Programmation des Microcontrolleur</p>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">STM</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">ARDUINO</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">RASPBERRY</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">FREERTOS</span>
                                    <span class="badge badge-light"
                                        style="border: solid gray 1px; border-radius: 7px;">ASSEMBLEUR</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

            <!-- Education Start -->
            <div class="education" id="education">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>Education</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="edu-col">
                                <span>2023</span>
                                <h3> <a data-toggle="collapse" href="#collapseExample3" role="link"
                                        aria-expanded="false" aria-controls="collapseExample3">Bootcamp
                                        Développement Web FullStack JavaScript</a></h3>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        <ul>
                                            <li>Algorithmique</li>
                                            <li>InitiationWeb</li>
                                            <li>Développement d'une application Front-End avec Angular</li>
                                            <li>Node.js & Express.js</li>
                                            <li>Les API'S</li>
                                            <li>Base de données</li>
                                            <li>Mongo BD</li>
                                            <li>Mongoose</li>
                                            <li>Déploiment de l'application</li>
                                            <li>Formation en Soft Skills</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> <a href="https://crococoder.tn/bootcamp-developpement-web-fullstack-javascript/">Crococoder
                                        Accademie</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="edu-col">
                                <span>2012 <i>to</i> 2016</span>
                                <h3> <a data-toggle="collapse" href="#collapseExample2" role="link"
                                        aria-expanded="false" aria-controls="collapseExample2"> Diplôme Nationale
                                        d'ingénieur en Mécatronique.</a></h3>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        <ul>
                                            <li>Informatique Industrielle</li>
                                            <li>Informatique</li>
                                            <li>Systèmes mécatroniques</li>
                                            <li>Commande des systèmes mécatroniques</li>
                                            <li>Technologies pour la mécatronique</li>
                                            <li>Matériaux pour l'ingénieur</li>
                                            <li>Mécanique</li>
                                            <li>Circuits et systèmes</li>
                                            <li>Signaux et systèmes</li>
                                            <li>Systèmes temps réel</li>
                                            <li>Systèmes industriels.</li>
                                        </ul>
                                    </div>
                                </div>
                                <p> <a href="http://www.enicarthage.rnu.tn/fr/formations/cycles/mecatronique/4"
                                        target="_blank">Ecole Nationale D'ingénieurs De Carthage (ENICarthage)</a></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="edu-col">
                                <span>2010 <i>to</i> 2012</span>
                                <h3>
                                    <a data-toggle="collapse" href="#collapseExample" role="link" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Cycle préparatoire Mathématique Physique
                                    </a>
                                </h3>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <ul>
                                            <li>Mathématique</li>
                                            <li>Physique</li>
                                            <li>Informatique</li>
                                            <li>Science et technique de l'ingénieur</li>
                                            <li>Chimie</li>
                                            <li>Français</li>
                                            <li>Anglais</li>
                                        </ul>
                                    </div>
                                </div>
                                <p><a href="https://issatmh.rnu.tn/fra/pages/96/Cycle-pr%C3%A9paratoire-Math%C3%A9matiques-Physiques"
                                        target="_blank">
                                        Institut supérieur des sciences appliquées et technologiques de Mahdia</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Education Start -->

            <!-- Experience Start -->
            <div class="experience" id="experience">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>Experience</h2>
                    </div>

                    <!--Gratting Industries-->
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="exp-col">
                                <span>Aout-2022 <i>to</i> Avril - 2023</span>
                                <h3>Responsable Technique</h3>
                                <h4>Bouarada-Siliana</h4>
                                <h5>Grating Industries</h5>
                                <ul>
                                    <li> <a data-toggle="collapse" href="#collapseExample14" role="link"
                                            aria-expanded="false" aria-controls="collapseExample14">Gérer et superviser
                                            le bureau méthode :</a></li>
                                    <div class="collapse" id="collapseExample14">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Effectuer le suivi et la révision des nomenclatures des produits
                                                </li>
                                                <li>Valider les Ordres de Fabrication réalisés par l'équipe méthode</li>
                                                <li>Recevoir un rapport d'état sur l'avancement de l'exécution des
                                                    ordres de fabrication</li>
                                                <li>Superviser la conception et la planification des activités
                                                    d'amélioration et d'optimisation des process de fabrication</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample15" role="link"
                                            aria-expanded="false" aria-controls="collapseExample15">Gérer l'équipe
                                            maintenance et amélioration continues </a></li>
                                    <div class="collapse" id="collapseExample15">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Valider les plannings de maintenance de ces différentes niveaux</li>
                                                <li>Contribuer en cas de besoin dans les activités de maintenances</li>
                                                <li>Mener des visites de terrain pour vérifier létat des machines, les
                                                    mesures de protection de machines et de sécurité des opérateurs</li>
                                                <li>Recevoir et valider les rapports réalisés par l'équipe maintenance :
                                                    rapport d'activités, rapport de consommation énergétiques, Rapport
                                                    d'état des stocks de consommable et pièces de rechange</li>
                                                <li>Concevoir en collaboration avec l'équipe maintenance, les solutions
                                                    techniques et les modifications à effectuer sur les lignes de
                                                    production nécessaires pour la mise en place du plan d'amélioration
                                                    et d'optimisation réalisé par l'équipe méthode et superviser leurs
                                                    mise en place</li>
                                                <li>Valider les ordre d'achat et d'acquisition liés au service
                                                    maintenance</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample16" role="link"
                                            aria-expanded="false" aria-controls="collapseExample16">Gérer l'équipe
                                            Production</a></li>
                                    <div class="collapse" id="collapseExample16">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Valider le planning de production</li>
                                                <li>Recevoir et valider les rapports d'activité</li>
                                                <li>Recevoir des rapport d'état du stock de la matière première</li>
                                                <li>Valider les ordres d’achat et d’acquisition de la matière premières
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Tadaeem-->
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="exp-col">
                                <span>Mars-2019 <i>to</i> Avril - 2021</span>
                                <h3>Spécialiste de l'amélioration de la prestation de service</h3>
                                <h4>Le Kef (Kef, Tajerouine, Sers, Dahmani) - Siliana (Siliana, Makthar)</h4>
                                <h5>Deloitte Consulting Overseas projects (DCOP) / USAID TADAEEM project </h5>
                                <ul>
                                    <li> <a data-toggle="collapse" href="#collapseExample9" role="link"
                                            aria-expanded="false" aria-controls="collapseExample9">Planification, Suivi
                                            et Implémentation des plans d'amélioration de la prestation des services
                                            municipaux 'SDIP' (Service Delivery Improvement Plan) </a></li>
                                    <div class="collapse" id="collapseExample9">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Coordonner, organiser et modérer les ateliers de priorisation des
                                                    services municipaux de voirie, gestion des déchets et éclairage
                                                    public
                                                </li>
                                                <li>Diagnostiquer la chaine de valeur de service et prioriser les
                                                    interventions</li>
                                                <li>Définir les indicateurs de performance du service et mesurer leurs
                                                    valeurs initiales
                                                </li>
                                                <li>Coordonner, organiser et modérer des ateliers de réflexion entre
                                                    l'administration et le conseil municipal autour du service priorisé
                                                </li>
                                                <li>Contribuer à la préparation SDIP (Service Delivery Improvement Plan)
                                                    du service priorisé sur la base du diagnostic et les ateliers de
                                                    réflexions réalisés</li>
                                                <li>Coordonner et superviser l'implémentation des activités du SDIP et
                                                    mesurer leurs
                                                    impacts.</li>
                                                <li>Coordonner avec les autres équipes du projet (Equipe société civile
                                                    et Equipe coordination intergouvernementale) pour planifier et
                                                    implémenter leurs activités liées au SDIP</li>
                                                <li>Elaboration les termes de références nécessaires pour les activités
                                                    spécifique</li>
                                                <li>Préparer et fournir des rapports d'états périodiques</li>
                                                <li>Mesurer les indicateurs de performance du service suite à la
                                                    finalisation des activités du SDIP</li>
                                                <li>Préparer et fournir un rapport final à la clôture du SDIP</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample10" role="link"
                                            aria-expanded="false" aria-controls="collapseExample10">Coordonner avec les
                                            municipalités</a></li>
                                    <div class="collapse" id="collapseExample10">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Coordonner entre le projet, les municipalités et l'équipe des
                                                    experts externes</li>
                                                <li>Evaluer et valider les activités implémentées par les prestataires
                                                    de services, les travaux réalisés et des délivrables des experts, et
                                                    rédiger des rapports là-dessus</li>
                                                <li>Préparer des PV de réunion et des compte rendue des visites de
                                                    terrain</li>
                                                <li>Coordonner avec les vis-à-vis des municipalités pour planifier les
                                                    activités à entreprendre et pour la collecte des informations et des
                                                    données</li>
                                                <li>Guider, suivre et évaluer régulièrement les actions exécutées par
                                                    les municipalités</li>
                                                <li>Suivre les différents changements dans les municipalités (postes
                                                    vacants, nouvelles nominations, conflits qui auront un impact
                                                    potentiel sur l'implémentation des actions du projet)</li>
                                                <li>Préparer des rapports d'états périodiques</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample11" role="link"
                                            aria-expanded="false" aria-controls="collapseExample11">Assister les
                                            municipalités pour améliorer leurs communications avec les citoyens et leur
                                            collaboration avec la société civile </a></li>
                                    <div class="collapse" id="collapseExample11">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Coordonner et assister la préparation des campagnes de
                                                    sensibilisation pour améliorer la participation citoyenne au PAI
                                                    (Plan Annuelle d'Investissement) et participer aux activités
                                                    réalisées</li>
                                                <li>Assister les municipalités et les organisations de la société civile
                                                    dans organisation des compagnes de mesure de satisfaction citoyen
                                                    des services municipaux.</li>
                                                <li>Assister les municipalités dans les activités de communication avec
                                                    les citoyens autour des services municipaux
                                                </li>
                                                <li>Aider les municipalités dans l'adoption de l'approche participative
                                                    dans leurs planifications</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample12" role="link"
                                            aria-expanded="false" aria-controls="collapseExample12">Réalisation</a></li>
                                    <div class="collapse" id="collapseExample12">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Coordonner avec le National Technical Support Team pour la
                                                    planification, l'organisation et la modération de 9 webinaires de
                                                    dissémination des modules d'amélioration de la prestation des
                                                    services pour le bénéfice de 26 municipalités des gouvernorats de
                                                    Siliana et du Kef</li>
                                                <li>Piloter, implémenter et finaliser 5 plans d'amélioration de la
                                                    prestation de service : 3 SDIP d'éclairage public et 2 SDIP de
                                                    maintenance et réparation des voiries</li>
                                                <li>Participer à la réalisation de 6 plans d'amélioration de la
                                                    prestation de service de gestion des déchets</li>
                                                <li>Participer à la réalisation de 1 plan d'amélioration de la
                                                    prestation de service espace vert</li>
                                                <li>Coordonner entre la municipalité du Sers et un fournisseur du
                                                    système photovoltaïque dans le cadre du projet d'installation des
                                                    Panneaux Photovoltaïque à l'hôtel de ville de la municipalité,
                                                    réalisé par TADAEEM, et piloter les travaux d'installation.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Tunistar battery-->
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="exp-col">
                                <span>Février-2017 <i>to</i> Novembre-2018</span>
                                <h3>Responsable technique et ingénieur chargé étude et amélioration cotinue </h3>
                                <h4>Bouarada-Siliana</h4>
                                <h5>Tunistart Battery</h5>
                                <ul>
                                    <li> <a data-toggle="collapse" href="#collapseExample4" role="link"
                                            aria-expanded="false" aria-controls="collapseExample4">Executer les
                                            activités du bureau Méthode</a></li>
                                    <div class="collapse" id="collapseExample4">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Concevoir et réaliser les nomenclatures des produits</li>
                                                <li>Lancer le Ordres de Fabrication (OF) et assurer le suivi de leurs
                                                    réalisation</li>
                                                <li>Fournir des rapport d'état sur l'avancement de l'exécution des OF
                                                </li>
                                                <li>Réaliser des guides et affiches sur les process de fabrication</li>
                                                <li>Réaliser des formations théoriques et pratiques pour le profit des
                                                    opérateurs à chaque lancement d'une nouvelle gamme de produit.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample5" role="link"
                                            aria-expanded="false" aria-controls="collapseExample5">Suivre et mettre à
                                            jour les indicateurs de performance</a></li>
                                    <div class="collapse" id="collapseExample5">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Collecter et illustrer les informations liées aux différentes
                                                    activités.</li>
                                                <li>Calculer et mise à jour des indicateurs de performance et fournir
                                                    des rapport de performance.</li>
                                                <li>Analyser les résultats atteints et les indicateurs de performance
                                                    afin de dégager les difficultés et les opportunités d'amélioration.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample6" role="link"
                                            aria-expanded="false" aria-controls="collapseExample6">Concevoir et piloter
                                            les activités d'amélioration continue au sein de
                                            l'entreprise ainsi que les projets d'extension et de rénovation</a></li>
                                    <div class="collapse" id="collapseExample6">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Proposer des actions de correction et d'amélioration et fournir des
                                                    rapports pour les différents départements de l'entreprise</li>
                                                <li>Concevoir des plans d'exécution des solutions d'amélioration et de
                                                    correction validées ainsi que les outils nécessaires.</li>
                                                <li>Piloter et suivre l'implémentation des activités d'amélioration.
                                                </li>
                                                <li>Concevoir, planifier et superviser les activités d'extension et de
                                                    rénovation réalisées au sein de l'usine.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample7" role="link"
                                            aria-expanded="false" aria-controls="collapseExample7">Coordonner et
                                            planifier avec les différents départements de l'usine</a></li>
                                    <div class="collapse" id="collapseExample7">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Contribuer à la planification des activités au sein de l'usine :
                                                    synchronisation du plan de production et le planning des activités
                                                    de maintenances, plan de formation pour le staff...</li>
                                                <li>Planifier, en collaboration avec le département de la production, le
                                                    planning des interventions de réglage des machines pour répondre au
                                                    plan de production.</li>
                                                <li>Modérer des ateliers de discussion des activités d'amélioration et
                                                    de correction à entreprendre.</li>
                                                <li>Contribuer à l'élaboration du plan stratégique et des objectifs de
                                                    l'entreprise.</li>
                                                <li>Participer à la révision et à la mise à jour de la stratégie de
                                                    qualité, le processus de production et les outils de travail.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <li><a data-toggle="collapse" href="#collapseExample8" role="link"
                                            aria-expanded="false" aria-controls="collapseExample8">Gerer et suivre les
                                            activités de la maintenance : Corrective, systemique,
                                            curative et préventive</a></li>
                                    <div class="collapse" id="collapseExample8">
                                        <div class="card card-body">
                                            <ul>
                                                <li>Planifier les activités de la maintenance préventif et assurer sa
                                                    mise à jour.</li>
                                                <li>Suivre et valider l'exécution des activités de maintenance
                                                    préventifs et intervenir en cas de besoins.</li>
                                                <li>Superviser les activités de réparation et de la maintenance
                                                    curatives et correctives réalisées et intervenir en cas de besoin.
                                                </li>
                                                <li>Effectuer le suivi de la gestion du stock du magasin de l'atelier de
                                                    maintenance, valider les besoins en acquisition et préparation des
                                                    cahier des charges techniques pour les équipements, outillages et
                                                    les pièces de rechange.</li>
                                                <li>Effectuer le suivi de la gestion du stock du magasin de l'atelier de
                                                    maintenance, valider les besoins en acquisition et préparation des
                                                    cahier des charges techniques pour les équipements, outillages et
                                                    les pièces de rechange.</li>
                                                <li>Collecter et illustrer les données liées aux activités de
                                                    maintenances réalisées.</li>
                                                <li>Fournir des rapports réguliers sur les activités de maintenances.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Experience Start -->

            <!-- Galerie des photos -->
            <div class="service" id="galerie">
                <div class="content-inner" style="vertical-align:middle;">
                    <div class="content-header">
                        <h2>Galerie</h2>
                    </div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="vertical-align:middle;">
                        <div class="carousel-inner" style="vertical-align:middle;">
                            <div class="carousel-item active" data-interval="10000">
                            </div>
                            <div class="carousel-item">
                            </div>
                            <div class="carousel-item">
                            </div>
                            <div class="carousel-item" data-interval="2000">
                            </div>
                            <div class="carousel-item">
                            </div>
                            <div class="carousel-item">
                            </div>
                            <div class="carousel-item">
                            </div>
                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                            data-slide="prev" style="background-color: transparent;border: none;">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                            data-slide="next" style="background-color: transparent;border: none;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Galerie End -->

            <!-- Contact Start -->
            <!-- <div class="contact" id="contact">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>Contact</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="contact-info">
                                <p><i class="fa fa-user"></i>Azer Mejri</p>
                                <p><i class="fa fa-tag"></i>Web Developer & Ingénieur Mécatronique</p>
                                <p><i class="fa fa-envelope"></i><a href="mailto:mejri.azer@gmail.com<">mejri.azer@gmail.com</a>
                                </p>
                                <p><i class="fa fa-phone"></i><a href="tel:+21624884483">+216 24 88 44 83</a></p>
                                <p><i class="fa fa-map-marker"></i>Avenue Habib Bourguiba 6180 Bouarada</p>
                                <div class="social">
                                    <a class="btn" href="https://www.facebook.com/azer.mejri/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href="https://www.linkedin.com/in/azer-mejri-0494a7118/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href="https://www.instagram.com/mejriazer/" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="Votre Nom" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="email" class="form-control" placeholder="Votre Email" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Sujet" />
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                                    </div>
                                    <div><button class="btn" type="submit">Envoyer le Message</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Contact End -->

            <!-- Footer Start -->
            <div class="footer">
                <div class="content-inner">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Start -->
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

